<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>902554592767-ovv8fjld1ncgatej35vt4bvufn9tk0qh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.902554592767-ovv8fjld1ncgatej35vt4bvufn9tk0qh</string>
	<key>API_KEY</key>
	<string>AIzaSyDxsxZuYE7PhCWairTQPHw-lFLcaL6wJqE</string>
	<key>GCM_SENDER_ID</key>
	<string>902554592767</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.movies.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>movie-6984b</string>
	<key>STORAGE_BUCKET</key>
	<string>movie-6984b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:902554592767:ios:93d520874c6eccf21ab3ca</string>
</dict>
</plist>